@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap");
/* Configurações Universais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
/* Variáveis da página */
:root {
  --bg-color: #ece9fd;
  --color-title: #090039;
  --color-subtitle: #7158ef;
  --color-text: rgba(10, 0, 57, 0.64);
  --font: "Epilogue", sans-serif;
  font-size: 62.5%; /* 10px */
}
body {
  background: var(--bg-color);
  padding: 6rem 2.3rem 6.6rem;
  font-size: 1.6rem;
}
main {
  max-width: 33rem;
  margin: 0 auto;
}
h1 {
  font-family: var(--font);
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.8rem;
  color: var(--color-title);
  margin-bottom: 1.5rem;
}
main p:first-child {
  color: var(--color-subtitle);
  font-family: Epilogue;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  margin-bottom: 1.7rem;
}
/* o símbolo de "+" significa que estamos pegando a tag p que está anterior ao h1  */
h1 + p {
  font-family: var(--font);
  color: var(--color-text);
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}
main a {
  color: var(--color-title);
  font-family: Epilogue;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-decoration: none;
}
main a:hover {
  color: var(--color-subtitle);
  font-weight: 700;
}
ul {
  margin-top: 7.2rem;
}
ul li {
  color: var(--color-title);
  font-family: var(--font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.2rem;
  max-width: 25.7rem;
  display: flex;
  gap: 3.8rem;
}
ul li + li {
  margin-top: 3.2rem;
}
ul li span {
  color: var(--color-title);
  font-family: var(--font);
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 8rem;
  letter-spacing: -2px;
}
@media (min-width: 700px) {
  body {
    padding: 8rem;
  }
  main {
    display: flex;
    gap: 10rem;
    max-width: 1020px;
    /* max-width significa que quando a tela chegar aos 1020px, o elemento irá parar de crescer */
  }
  main > div {
    max-width: 485px;
  }
  ul li {
    gap: 5.3rem;
    max-width: 450px;
    align-items: center;
  }
  ul li + li {
    margin-top: 3.2rem;
  }
}
